@font-face {
font-family: 'Ventura Edding Medium';
font-style: normal;
font-weight: normal;
src: local('Ventura Edding Medium'), url('/fonts/Ventura_Edding.woff') format('woff');
}


@font-face {
font-family: 'Ventura Edding Bold';
font-style: normal;
font-weight: normal;
src: local('Ventura Edding Bold'), url('/fonts/Ventura_Edding_Bold.woff') format('woff');
}

body {
  position: relative;
  overflow-x: hidden;


  .box {
    @include small-breakpoint {
      background: $white;
    }
    @include large-breakpoint {
      background: black url(/images/pup.png);
      background-position: -520px 20px;
      background-size: 250%;
    }
    width: 590px;
    height: 1020px;
    margin: 8px auto;
    background: $white;
    position: absolute;
    top: -220px;
    right: 0;
    transform: rotate(15deg);
    z-index: -1;
  }

  .clipInset-sm {
    @include small-breakpoint {
      -webkit-clip-path: inset(0 0 0 0 round 340px 340px 340px 340px);
    }
    -webkit-clip-path: inset(0 0 0 0 round 0px 0px 0px 0px);
    }

  .box-sm {
    @include small-breakpoint {
      width: 270px;
      height: 450px;
      margin: 8px auto;
      background: black url(/images/box-rotate.png);
      transform: rotate(-15deg);
      background-size: 200%;
      background-position: -120px -40px;
    }
    width: 100%;
    height: 200px;
    background: url(/images/box.png);
    position: relative;;
    z-index: -1;
    background-size: cover;
    transform: rotate(0deg);
  }

  .clipInset {
    -webkit-clip-path: inset(0 0 0 0 round 340px 340px 340px 340px);
  }

  main {
    position: relative;
    z-index: 1;

    .logo {
      position: relative;
      display: inline-block;
      top: 40px;
    }

    .heading {
      margin-top: 105px;

      h1 {
        margin-bottom: 10px;
      }

      span {
        font-style: italic;
        display: block;
      }
    }

    .leadgen {
      background: $primary-color;
      border-radius: 15px;
      padding: $padding;
      color: $white;
      margin-top: 30px;

      h2 {
        color: $white;
        margin: 0;
        font-family: 'Ventura Edding Bold';

        span {
          font-size: 16px;
          color: rgba(255,255,255,0.50);
        }
      }

      p {
        font-size: 16px;
      }

      input[type="submit"] {
        @include small-breakpoint {
          left: -80px;
        }
        position: relative;
        left: 0px;
        width: 100%;
        font-size: 16px;
      }

      .split-form label {
        padding: 0 20px;
      }
    }

    #about {
      position: relative;
      margin-top: 80px;

      p {
        font-size: 18px;
        line-height: 1.8;
      }
    }
  }


  footer {
    text-align: center;

    span {
      color: #FF054B;
    }
  }
}
